{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{ message|safe }}</strong>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h1>Fintech Homepage</h1>
            <!% crispy form form.helper %>

            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.code.errors }}
                        <label for="{{ form.code.id_for_label }}">Code:</label>
                        {{ form.code }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.benchmark.errors }}
                        <label for="{{ form.benchmark.id_for_label }}">Upload Benchmarks:</label>
                        {{ form.benchmark }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.time_period.errors }}
                        <label for="{{ form.time_period.id_for_label }}">Time Period:</label>
                        {{ form.time_period }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.from_date.errors }}
                        <label for="{{ form.from_date.id_for_label }}">From Date:</label>
                        {{ form.from_date }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.to_date.errors }}
                        <label for="{{ form.to_date.id_for_label }}">From Date:</label>
                        {{ form.to_date }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.risk_free_rate.errors }}
                        <label for="{{ form.risk_free_rate.id_for_label }}">Risk Free Rate:</label>
                        {{ form.risk_free_rate }}
                    </div>
                </table>
                <input type="submit" value="Submit">
            </form>

        </div>
    {% endif %}
{% endblock %}