{% extends "base_generic.html" %}
{% block content %}
    <h2>Update Nifty-50 DB</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    <br></br>
    <p{% if message %} class="text-danger"{% endif %}>{{ message }}</p>
    <p>
    <table>
        {% for i in table %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
    </table></p>
{% endblock %}